.props {
    padding : 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: #ffffff;
    position: relative;
  }
  .props__id {
    position: absolute;
    top: 50px;
    right: 20px;
  }
  .orders_header {
    padding: 20px 80px;
  }